:root {
  --primary: #155b64;
  --secondary: #1c99a4;
  --tertiary: #bababa;
  --black: #000000;
  --white: #ffffff;
  --text: #fefefe;
}


.jumbo {
    padding: 2rem;
}

.home-section {
    margin-bottom: 3rem;
}

/* #choosePlayerLine{
    height: auto;
} */

/* PlayerCard */

.playerCard{
    border: 2px solid grey;
    height: auto;
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0 0;
}
.card-body{
    padding: 0 0;

}

/* .playerImage{
    position: relative;
    bottom: 40px;
    z-index: -5;;
} */


#defeatOpponentLine > .playerCard > .playerCardName{
    color: red

}
/* story bix text*/
#storyBox{
    border: 2px solid grey;
    float: right;
    margin-right: 50px;
    height: 150px;
    width: 300px;
    display: none;
    padding: 20px;
    margin-bottom: 4px;
}
#storyBoxTextTop{
    text-align: center;
    
}
#storyBoxTextBottom{
    text-align: center;
}


hr{
    clear: both;
}

.card-title{
    font-size: 18pt;
    text-align: center;
    padding-top: 10px ;
    
}

.card-text{
    color: blue;
    text-align: center;
    font-size: 16pt;
}


h4{
    clear: both;
    overflow: auto;
    
}




/* style attack and Defend Butoon */
button{
    display: inline-block;
    display: none;
    clear: both;
}

#attackButton{
    margin-top: 20px;
    
}
#attackText{
    color: red;
}
#attackButton:active{
    background-color: red;
    outline: 2px solid red;
    color: white;
    
}

/* Player Select */

.player-select-button {
    display: inline-block;
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: aqua;
    text-align: center;
}

.player-select-start-button {
    background-color: aqua;
    text-align: center;
    margin: 5em auto;
}

.player-select-card {
    max-height: 20em;
    max-width: 30em;
}




