#choosePlayerLine{
    height: 100px;
}

/* PlayerCard */

.playerCard{
    border: 2px solid grey;
    height: 100px;
    width: 80px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#defeatOpponentLine > .playerCard > .playerCardName{
    color: red

}
/* story bix text*/
#storyBox{
    border: 2px solid grey;
    float: right;
    margin-right: 50px;
    height: 100px;
    width: 300px;
    display: none;
    padding: 20px;
    margin-bottom: 4px;
}
#storyBoxTextTop{
    text-align: center;
    
}
#storyBoxTextBottom{
    text-align: center;
}


hr{
    clear: both;
}

.playerCardName{
    color: blue;
    text-align: center;
    padding-top: 10px ;
}

.playerCardHp{
    color: green;
    text-align: center;
    
}


h4{
    clear: both;
    overflow: auto;
    
}




/* style attack and Defend Butoon */
button{
    display: inline-block;
    display: none;
    clear: both;
}

#attackButton{
    margin-top: 20px;
    
}
#attackText{
    color: red;
}
#attackButton:active{
    background-color: red;
    outline: 2px solid red;
    color: white;
    
}






