/* PlayerCard */

.playerCard{
    border: 2px solid grey;
    height: 100px;
    width: 80px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

hr{
    clear: both;
}

.playerCardName{
    color: blue;
    text-align: center;
    padding-top: 10px ;
}

.playerCardHp{
    color: green;
    text-align: center;
    
}

h4{
    clear: both;
    overflow: auto;
    
}




/* style attack and Defend Butoon */
button{
    display: none;
}

#attackButton{
    
}
#attackText{
    color: red;
}
#attackButton:active{
    background-color: red;
    outline: 2px solid red;
    color: white;
    
}
#defendButton{

}
#defendText{
    color: green;
}
#defendButton:active{
    background-color: green;
    outline: 2px solid green;
    color: white;
}




